@model List<TransactionDto>
@using Dashboard.Models
@using Microsoft.Toolkit.Extensions
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
}
<div style="line-height: 0.7">

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Amount</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td title="@(i+1)">@(i+1)</td>
                    <td title="@Model[i].FromAddress">
                        @if (!Model[i].FromAddress.Equals("MiningRewardSystem"))
                        {
                            <a asp-page="/WalletDetails" asp-route-walletAddress="@Model[i].FromAddress">
                                @(Model[i].FromAddress.Length > 20 ? Model[i].FromAddress.Truncate(20) + "..." : Model[i].FromAddress)
                            </a>
                        }
                        else
                        {
                            @(Model[i].FromAddress.Length > 20 ? Model[i].FromAddress.Truncate(20) + "..." : Model[i].FromAddress)
                        }
                        @if (Model[i].FromAddress.Equals(Configuration.GetSection("AppConfig")["MyWalletAddress"]))
                        {
                            <span class="card-text text-muted" style="font-size:smaller;font-weight:400">(That's you)</span>
                        }
                        else if (Model[i].FromAddress.Equals("MiningRewardSystem"))
                        {
                            <span class="card-text text-muted" style="font-size:smaller;font-weight:400">(Mining reward system)</span>
                        }

                    </td>
                    <td title="@Model[i].ToAddress">
                        @if (!Model[i].ToAddress.Equals("MiningRewardSystem"))
                        {
                            <a asp-page="/WalletDetails" asp-route-walletAddress="@Model[i].ToAddress">
                                @(Model[i].ToAddress.Length > 20 ? @Model[i].ToAddress.Truncate(20)+"..." : @Model[i].ToAddress)
                            </a>
                        }
                        else
                        {
                            @(Model[i].ToAddress.Length > 20 ? @Model[i].ToAddress.Truncate(20)+"..." : @Model[i].ToAddress)
                        }
                        @if (Model[i].ToAddress.Equals(Configuration.GetSection("AppConfig")["MyWalletAddress"]))
                        {
                            <span class="card-text text-muted" style="font-size:smaller;font-weight:400">(That's you)</span>
                        }
                    </td>
                    <td title="@Model[i].Amount">
                        @Model[i].Amount
                        @if (Model[i].FromAddress.Equals("MiningRewardSystem"))
                        {
                            <span class="card-text text-muted" style="font-size:smaller;font-weight:400">(Mining reward)</span>
                        }
                    </td>
                    <td title="@Model[i].Timestamp">@Model[i].Timestamp</td>
                </tr>
            }
            @if (Model.Count.Equals(0))
            {
                <tr>
                    <td colspan="5" class="text-center">This is Genesis Block, it has no transactions.</td>
                </tr>
            }
        </tbody>
    </table>
</div>